<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Chat"] - My Application</title>
</head>
<body>
<div>
    @RenderBody()
</div>

@RenderSection("Scripts", required: false)
</body>
</html>